::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: purple !important;
   }
::ng-deep .mat-form-field-label  {
/*change color of label*/
color: purple !important;
}
  
::ng-deep.mat-form-field-underline {
/*change color of underline*/
background-color: purple !important;
} 
  
::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color: purple !important;;
}
.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }
   
  .full-width {
    width: 100%;

  }