

<mat-grid-list cols="4" rowHeight="500px">
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">

  <mat-card  id="card" class="example-card">
    <mat-card-title>
        {{quiz.title}}
    </mat-card-title>
    <mat-card-content >
        <label id="example-radio-group-label"> {{ currentQuestion.title }} </label>
        <mat-radio-group 
          aria-labelledby="example-radio-group-label"
          class="example-radio-group" *ngFor="let option of currentQuestion.options"
          [(ngModel)]="selectedAnswer"
          >
          
          <mat-radio-button  
          class="example-radio-button"
          [value]="option.answer" >
            {{option.answer}}
          </mat-radio-button>
          <div class="clearfix"> </div>
        
        </mat-radio-group>
         
        
        
      </mat-card-content>
      <mat-card-actions>
          <button *ngIf="isNextQuiz" mat-raised-button color="primary" (click)="onNextQuiz()">Next Quiz</button>
          <button *ngIf="!isNextQuiz" mat-raised-button color="primary" (click)="onShowResult()">Show Result!</button>
          <H1 *ngIf="showResult">Hi {{ currentUserName }}! You got {{ correctAnswers }} correct answer{{correctAnswers > 1 || correctAnswers===0?'s':''}}!</H1>

      </mat-card-actions>
  </mat-card>
</mat-grid-tile>
<mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>


