<div *ngIf="isLoading" style="text-align: center;" style="display: inline-block;" class="fa fa-pencil" aria-hidden="true">
        <mat-spinner ></mat-spinner>
  </div>

<div>
  <mat-form-field >
    <input matInput placeholder="Search Quiz" value="" [(ngModel)]="userSearch">
  </mat-form-field>
</div>


<div class="cardList">
    
  
  <ng-container *ngFor="let quiz of quizzes | quizPipe: userSearch">

    <app-quiz fxFlex="0 1 calc(33.3% - 32px)"
      [quizInput]="quiz"
      (quizClicked)="handleQuizClicked($event)"
      ></app-quiz>


  </ng-container>

</div>

